<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This page is made for the IT community to ask and answer questions.">
    <meta name="author" content="Zoé Belleton">
    <title>Toky IT (Answer)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link type="text/css" rel="stylesheet" href="/style.css">
</head>
<body class="text-center">
<form class="form-signin">

    <!-- <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->


    <!-- TITLE -->
    <div th:insert="base::title"></div>

    <!-- HIDDEN DATA -->
    <div th:insert="base::hidden_fields"></div>

    <!-- CHOOSE TO ASK OR ANSWER -->
    <div th:insert="base::pages_choice"></div>

    <!-- CHOOSE QUESTIONS THEMES -->
    <div th:insert="base::theme_choice"></div>

    <!-- QUESTIONS TEXTAREA -->
    <div id="questions_textarea" title="Toky IT community questions"></div>

    <!-- SINGLE QUESTION -->
    <div id="question_area" title="Toky IT community question">
        <p>Here is the question you have selected</p>
        <br>
        <textarea id="selected_question" class="form-control text-center text-info" disabled></textarea>
        <textarea id="selected_question_answers" class="form-control text-center" disabled></textarea>
        <input type="text" id="answer" class="form-control text-center" placeholder="Give an answer">
        <button type="button"
                class="btn btn-info form-control"
                onClick="answerQuestion()">
            Submit
        </button>
        <br>
        <small>
            <br>
            <a id="random-question" href="#" class="text-info" onclick="openAllQuestions()">
                Get back to all the questions
            </a>
            <br>
        </small>
    </div>

<div th:insert="base::footer"></div>
<div th:insert="login::username"></div>
</form>
</body>
</html>